@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: rgb(20, 161, 204);
}

h1{
    color: white;
}

#area{
    padding: 20px;
    background-color: white;
    width: 90vw;
    max-width: 500px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 15px;
    box-shadow: 1px 2px 20px black;
}

#botao{
    padding: 5px;
}

footer{
    color: white;
    font-style: italic;
    font-weight: bolder;
}


